---
title: Entwicklungsbarometer - Experten
---
#experten
  .headline
    %h3 Experten Interviews
  .interview-container
    .interviews
      - data.experten.each do |experte|
        = partial "partials/interview", locals: experte
.ngos
  %h3 Unsere Partner
  %ul
    %li
      %img
      = partial 'partials/security/bicc'
    %li
      %img
      = partial 'partials/security/gkke'
