---
title: Entwicklungsbarometer - Freedom Index
layout: embed
---
#sicherheit.indikator.sub-indikator
  #freedom-index
    #multiples
      .multiple
        #multiple-exports
      .legend
        %svg
          %g(transform="translate(0,8)")
            %circle.free(r=8 cx=8 cy=0)
            %text(dx=24 dy=5) Exporte in Freie Länder
          %g(transform="translate(0,32)")
            %circle.partial-free(r=8 cy=0 cx=8)
            %text(dx=24 dy=5) Exporte in Halb-Länder
          %g(transform="translate(0,56)")
            %circle.not-free(r=8 cx=8 cy=0)
            %text(dx=24 dy=5) Exporte in Nicht-Freie Länder
      .export-volumes
        %h2
        %h6 Zeitraum
        %form
          %input(type="radio" name="ruestung-chart" value="2013" checked="checked") 2013
          %input(type="radio" name="ruestung-chart" value="all") 1999-2013
    %h2 Anteil kritische Waffenexporte am GDP
