---
title: Entwicklungsbarometer - Anteil Waffenhandel am BIP
layout: embed
---
#sicherheit.indikator.sub-indikator
  #german-gdp
    .point-graph.german-gdp
    .legend
      %svg
        %g(transform="translate(0,8)")
          %circle(r=8 cx=8 cy=0)
          %text(dx=24 dy=5) Andere Anteile am BIP
        %g(transform="translate(0, 32)")
          %circle.german-exports-gdp(r=8 cx=8 cy=0)
          %text(dx=24 dy=5) Anteil Waffenhandel am BIP
    %h2 Anteil Waffenhandel am GDP
