---
title: Entwicklungsbarometer - Transparenz
---
#sicherheit.indikator.sub-indikator
  = link_to "/sicherheit/index.html" do
    %h1.sicherheit Sicherheit
  #transparenz
    .navbar
      %ul.nav
        %li.active
          %h4 Transparenz des Waffenexports
    .saferworld.barchart

    %h2 Transparenz des Waffenexports
    .explanation
      %p Waffenexporte sind ein kontroverses Thema, vor allem wenn es darum geht, Waffen in nicht-demokratische Staaten zu liefern. Nicht umsonst müssen alle Waffenexporte vom Bundeswirtschaftsministerium explizit genehmigt werden. Eine Debatte darüber, wann, welche Waffen an wen geliefert werden ist daher wichtig für eine entwicklungsfreundliche Sicherheitspolitik.
    .explanation
      %p Die Daten für diesen Indikator stammen von der britischen NGO Saferworld. Saferworld sammelt für alle EU Länder qualitative Informationen zu etwa 170 Details im Hinblick auf die Transparenz des Waffenhandels. Für das Entwicklungsbarometer wurde lediglich die Daten für Waffenexport berücksichtigt. Informationen zu Waffenimporten eines EU Landes wurden nicht genutzt. In Konsultation mit Saferworld wurden eine Auswahl von 98 Unterindikatoren in insgesamt 10 Informationskategorien getroffen und gewichtet.  Die hier angegebenen Daten stellen dar, zu welchem Grad ein Land diese Transparenzkriterien erfüllt.
