---
title: Entwicklungsbarometer - Transparenz
---
#sicherheit.indikator.sub-indikator
  = link_to "/sicherheit/index.html" do
    %h1.sicherheit Sicherheit
  #transparenz
    .navbar
      %ul.nav
        %li.active
          %h4 Transparenz des Waffenexports
    .saferworld.barchart

    %h2 Transparenz des Waffenexports
    .explanation
