---
title: Entwicklungsbarometer - Waffenexporteure
navigation:
  - link: "/sicherheit/ruestung/index.html"
    title: Kritische Waffenexporte
  - link: ""
    title: Deutsche Waffenexporte im Detail
  - link: "/sicherheit/ruestung/german-gdp.html"
    title: Anteil Waffenhandel am GDP
  - link: "/sicherheit/ruestung/freedom-index.html"
    title: Anteil kritische Waffenexporte am GDP
  - link: "/sicherheit/ruestung/exporteure.html"
    title: Waffenexporteure in Deutschland
    active: true
---
#sicherheit.indikator.sub-indikator
  = link_to "/sicherheit/index.html" do
    %h1.sicherheit Sicherheit
  #exporteure
    = partial "partials/sub_nav"
  .exporteure.map
    #exporteure-map
  %h2 Waffenexporteure in Deutschland
