---
title: Entwicklungsbarometer - Anteil Waffenhandel am BIP
navigation:
  - link: "/sicherheit/ruestung/index.html"
    title: Kritische Waffenexporte
  - link: "/sicherheit/ruestung/detail.html"
    title: Deutsche Waffenexporte im Detail
  - link: "/sicherheit/ruestung/german-gdp.html"
    title: Anteil Waffenhandel am GDP
    active: true
  - link: "/sicherheit/ruestung/freedom-index.html"
    title: Anteil kritische Waffenexporte am GDP
  - link: "/sicherheit/ruestung/exporteure.html"
    title: Waffenexporteure in Deutschland
---
#sicherheit.indikator.sub-indikator
  = link_to "/sicherheit/index.html" do
    %h1.sicherheit Sicherheit
  #german-gdp
    = partial "partials/sub_nav"
    .point-graph.german-gdp
    .legend
      %svg
        %g(transform="translate(0,8)")
          %circle(r=8 cx=8 cy=0)
          %text(dx=24 dy=5) Andere Anteile am BIP
        %g(transform="translate(0, 32)")
          %circle.german-exports-gdp(r=8 cx=8 cy=0)
          %text(dx=24 dy=5) Anteil Waffenhandel am BIP
    %h2 Anteil Waffenhandel am GDP
    .explanation
      %p Im internationalen Vergleich ist Deutschland einer wichtigsten Exporteure von Waffen. Deutschland gehört auch zu den Ländern, die am meisten Waffen an nicht-demokratische Länder exportieren. In der Debatte um Waffenexporte wird von der Industrie gerne auf die Bedeutung der Waffenindustrie für die deutsche Wirtschaft hingewiesen. Die bis 2011 vorliegenden Daten zeigen jedoch, dass die Waffenexporte weniger als 1% des Bruttoinlandprodukts ausmachen.
    .explanation
      %h3 Informationen zu den Daten
      %p Die hier dargestellten Daten zur Waffenindustrie stammen aus dem Bericht des WIFOR Instituts der Technischen Universität Berlin “Quantifizierung der volkswirtschaftlichen Bedeutung der Sicherheits- und Verteidigungsindustrie für den deutschen Wirtschaftsstandort” vom November 2012. Die Datenquelle für die übrigen Daten ist das statistische Bundesamt Destasis.
