---
title: Entwicklungsbarometer - Freedom Index
---
#sicherheit.indikator.sub-indikator
  = link_to "/sicherheit/index.html" do
    %h1.sicherheit Sicherheit
  #german-gdp
    .navbar
      %ul.nav
        %li
          = link_to "/sicherheit/ruestung/index.html" do
            %h4 Kritische Waffenexporte
        %li
          %h4 Deutsche Waffenexporte im Detail
        %li.active
          = link_to "/sicherheit/ruestung/german-gdp.html" do
            %h4 Anteil Waffenhandel am GDP
        %li
          = link_to "/sicherheit/ruestung/freedom-index.html" do
            %h4 Anteil kritische Waffenexporte am GDP
    .point-graph.german-gdp
