@import "bourbon/bourbon"
@import "base/grid-settings"
@import "neat/neat"
@import "base/base"

@import "globals/grid"
@import "globals/colors"
@import "globals/typography"

@import 'components/footer'
@import 'components/navigation'
@import 'components/hero'
@import 'components/grid'
@import 'components/breadcrump'
@import 'components/tables'

@import 'pages/main'
@import 'pages/sicherheit'

body
  background: #d4d4d4 url("../images/background.png")
  text-align: center
  font-family: sans-serif

h1
  color: rgba(0, 0, 0, .3)
  font-weight: bold
  font-size: 32px
  letter-spacing: -1px
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5)
  margin: 0

