!!!
%html
  :javascript
    rootPath = '';
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= current_page.data.title || "The Middleman"
    %link(rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.11/themes/css/cartodb.css")
    = stylesheet_link_tag "normalize", "all"
  %body
    .content.embedded
      = yield
    %script(src="http://libs.cartocdn.com/cartodb.js/v3/3.11/cartodb.js")
    = javascript_include_tag  "all"
