%footer.footer
  .footer-logo
    = link_to "http://okfn.de", target: "_blank" do
      = image_tag "logos/OKFLogo.png"
  .footer-links
    %ul
      %li
        %a{href: "javascript:void(0)"} Kontakt
      %li
        %a{href: "javascript:void(0)"} Über das Projekt
    %ul
      %li
        %a{href: "javascript:void(0)"} Spenden
      %li
        %a{href: "javascript:void(0)"} Impressum
    %ul
      %li
        %a{href: "javascript:void(0)"} Daten
      %li
        %a{href: "javascript:void(0)"} Code
  %hr
  %p Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.
