%footer.footer
  .footer-logo
    OKF
  .footer-links
    %ul
      %li
        %h3 Content
      %li
        %a{href: "javascript:void(0)"} About
      %li
        %a{href: "javascript:void(0)"} Contact
      %li
        %a{href: "javascript:void(0)"} Übersicht
    %ul
      %li
        %h3 Share
      %li
        %a{href: "javascript:void(0)"} Facebook
      %li
        %a{href: "javascript:void(0)"} Twitter
    %ul
      %li
        %h3 Legal
      %li
        %a{href: "javascript:void(0)"} Terms and Conditions
      %li
        %a{href: "javascript:void(0)"} Privacy Policy
  %hr
  %p Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.
