.content
  %p Tut Deutschland gut? Deutsche Politik hat auf vielfältige Weise Einfluss auf die Bekämpfung von globaler Armut und auf nachhaltige Entwicklung weltweit. Dieser Einfluss ist teils positiv, teils negativ. Der Deutschland-tut-gut Index zeigt die unterschiedlichen Einflussbereichen deutscher Politik übersichtlich und anhand konkreter Indikatoren in sieben Politikfeldern auf. Zu jedem Politikfeld stellen wir Detailanalysen und Daten bereit.
  %p Wissenschaftliche Grundlage des Deutschland-tut-gut Indizes ist der Commitment to Development Index des Centers for Global Development sowie die Arbeit von zahlreichen weiteren Organisationen, die zu Einzelthemen arbeiten.
