.content
  %p Deutsche Politik hat auf vielfältige Weise Einfluss auf die Bekämpfung von globaler Armut und auf nachhaltige Entwicklung weltweit. Dieser Einfluss ist teils positiv, teils negativ. Das Entwicklungsbarometer zeigt die unterschiedlichen Einflussbereichen deutscher Politik übersichtlich und anhand konkreter Indikatoren in acht Politikfeldern auf. Zu jedem Politikfeld stellen wir Detailanalysen und Daten bereit.
  %p Konzeptionelle Grundlage des Entwicklungsbarometers sind der Commitment to Development Index des Centers for Global Development und sowie die Arbeit entwicklungspolitischen Experten zu Spezialthemen aus Deutschland und anderen europäischen Ländern.
