---
---
.navbar
  %ul.nav
    - index_active = ''
    - personal_active = ''
    - if current_page.data.nav == 'index'
      - index_active = 'active'
    - if current_page.data.nav == 'personal'
      - personal_active = 'active'
    %li(class= index_active)
      = link_to "/sicherheit/peacekeeping/index.html" do
        %h4 Finanzbeitr채ge f체r UN Peacebuilding
    %li(class= personal_active)
      = link_to "/sicherheit/peacekeeping/personal.html" do
        %h4 Gesamtbeitr채ge f체r UN Peacebuilding
