%h5 Aktion Aufschrei
%p
  Die Aktion Aufschrei ist eine Kampagne von 16 deutschen Trägerorganisationen und einem umfassenderen Aktionsbündnis, das konkrete Aktionen gegen Rüstungsexporte durchführt. Die Aktion Aufschrei trägt zudem umfangreiche Informationen zu deutschen Rüstungsfirmen zusammen.
