%h5 Bonn International Center for Conversion (BICC)
%h6  Konversionsforschung für eine friedlichere Welt
%p
  Das BICC (Bonn International Center for Conversion – Internationales Konversionszentrum Bonn) befasst sich mit globalen Themen der Friedens- und Konfliktforschung. Seine Themen reichen von der Mobilisierung bzw. Demobilisierung von Gewaltakteuren über Rüstungsexporte und Kleinwaffenkontrolle bis hin zur Bedeutung von organisierter Gewalt in globalen Migrationsströmen und der Nutzung natürlicher Ressourcen. Auf Grundlage von anwendungsorientierter und transdiziplinärer Forschung leistet es Politikberatung und Beiträge zu öffentlichen Debatten. 
%p
  Das Zentrum wurde 1994 gegründet. Der Forschungsdirektor des BICC hat eine Professur für Friedens- und Konfliktforschung an der Universität Bonn inne. Es erhält eine jährliche Grundfinanzierung des Landes Nordrhein-Westfalen. Zu seinen Drittmittelgebern gehören deutsche und internationale Forschungsinstitutionen, Bundesministerien wie auch internationale Organisationen.
  %a(href="http://bicc.de")www.bicc.de
