%h3 Bonn International Center for Conversion (BICC)
%p
  Das BICC wurde im Jahr 1994 auf Initiative des damaligen Ministerpräsidenten von Nordrhein-Westfalen, Johannes Rau, und Kofi Annan, von 1997 bis 2006 Generalsekretär der Vereinten Nationen, gegründet. Das Institut forscht, berät und informiert zu den Themen Abrüstung, Rüstungskontrolle, Kleinwaffen. Das BICC erfasst unter anderem die Exporte bzw. die Exportgenehmigungen deutscher Rüstungsfirmen und analysiert die politische Situation der Empfängerländer. 
  %a(href="http://bicc.de")www.bicc.de
