.description
  .content
    %p Bewertung der Sicherheitspolitik im CDI: Einer der sieben Politikbereiche, die im CDI bewertet werden, ist der Sicherheitsbereich. Die im CDI zugrunde gelegten Indikatoren stimmen nur teilweise mit den hier verwendeten Indikatoren überein. Während der CDI die Transparenz des Waffenexportes nicht berücksichtigt, werden noch drei weitere Indikatoren positiv bewertet: militärische Friedensmissionen ohne UN Mandat, die militärische Sicherung von Handelswegen und die Ratifizierung von Sicherheitsabkommen. Mehr Informationen dazu finden Sie auf der CDI Webseite (link).
