.explanation
  .content
    %p Die dt. Sicherheitspolitik hat einen direkten Einfluss auf die globale Armutsbekämpfung und nachhaltige Entwicklung. Frieden und Sicherheit sind eine Voraussetzung für Armutsbekämpfung und nachhaltige Entwicklung. Menschen in Kriegsgebieten leiden oft am meisten unter Hunger und Armut. Deutschland kann durch Militäreinsätze in Krisengebieten und durch Bemühungen zur Abrüstung positiv zu Stabilität beitragen. Gleichtzeitig können deutsche Waffenexporte nicht-demokratische Regime stützen und zur Verbreitung von Waffen in Krisengebieten beitragen. Diese Gefahr ist umso größer, wenn Waffenexporte intransparent sind und nicht öffentlich diskutiert werden.
.description
  .content
    %p Bewertung der Sicherheitspolitik im CDI: Einer der sieben Politikbereiche, die im CDI bewertet werden, ist der Sicherheitsbereich. Die im CDI zugrunde gelegten Indikatoren stimmen nur teilweise mit den hier verwendeten Indikatoren überein. Während der CDI die Transparenz des Waffenexportes nicht berücksichtigt, werden noch drei weitere Indikatoren positiv bewertet: militärische Friedensmissionen ohne UN Mandat, die militärische Sicherung von Handelswegen und die Ratifizierung von Sicherheitsabkommen. Mehr Informationen dazu finden Sie auf der CDI Webseite (link).
