%h5 Gemeinsame Konferenz Kirche und Entwicklung (GKKE)
%p
  Die Gemeinsame Konferenz Kirche und Entwicklung (GKKE) wurde 1973 als ökumenischer Arbeitsverbund zur Entwicklungspolitik gegründet. Sie führt Dialoge mit Parlament und Regierung sowie gesellschaftlichen Interessengruppen zu Fragen der Einen Welt und der Entwicklungszusammenarbeit. Spezielle Arbeitsschwerpunkte der GKKE sind Kohärenz, Rüstungsexporte und Pharmaindustrie. Die GKKE veröffentlicht jährlich den Rüstungsexportbericht, der die Rüstungsexporte der Bundesregierung kritisch untersucht.
  %a(href="http://www3.gkke.org/ruestungsexporte.html")http://www3.gkke.org/ruestungsexporte.html
