%h3 Saferworld
%p
  Saferworld ist eine britische nicht-staatliche Organisation, die sich f체r Konfliktvermeidung und Sicherheit einsetzt. Saferworld unterh채lt unter anderem eine Datenbank zur Transparenz von R체stungsexporten. Der Indikator "Transparenz der R체stungsexporte" im Deutschland-tut-gut-Index beruht auf Daten von Saferworld.
