---
title: Entwicklungsbarometer - Friedensfinanzierung
layout: embed
---
#sicherheit.indikator.sub-indikator
  #friedensfoerderung
    .zmf.linegraph
    .legend
      .zivil
        %svg(width="10" height="10")
          %rect(width="10" height="10")
        %span Zivile Friendesfinanzierung
      .militaerisch
        %svg(width="10" height="10")
          %rect(width="10" height="10")
        %span Militärische Friendesfinanzierung
