#ruestung
  h3
    margin: 40px 0
  p
    text-align: left
  table
    th
      text-align: center
    td
      &.positive
        color: $green
      &.negative
        color: $red
  .ruestung-2013-chart
    @include span-columns(6)
  .ruestung-2013-table
    @include span-columns(6)
    @include omega()
    table
      margin: 0
      width: 99%
  .export-2013-table
    @include span-columns(10)
  .export-2013-explanation
    @include span-columns(2)
    @include omega()
    margin-top: 0.75em

  .axis text
    font: 10px sans-serif

  .axis path,
  .axis line
    fill: none
    stroke: #000
    shape-rendering: crispEdges
section#panzer
  padding: 50px
  background-image: url(../images/panzer.jpg)
  h1
    margin-top: 30%
#sicherheit
  #details
.explanation
  #ngos
    @include span-columns(11)
    @include shift(1)
#peacekeeping
  svg.countries
    margin: 10px 0
    g.axis.y
      display: none
    &:nth-child(4n+1) g.axis.y
      display: block
    &.germany
      .line
        stroke: $red
      text.name
        fill: $red
    .line.mean
      stroke: $green
      stroke-width: 0.6
