---
title: Entwicklungsbarometer - Friedensfinanzierung
navigation:
  - link: "/sicherheit/friedensfoerderung/index.html"
    title: Friedensförderung in der Entwicklungszusammenarbeit
  - link: "/sicherheit/Friedensfoerderung/friedensfinanzierung.html"
    title: Friedensfinanzierung
    active: true
---
#sicherheit.indikator.sub-indikator
  = link_to "/sicherheit/index.html" do
    %h1.sicherheit Sicherheit
  #friedensfoerderung
    = partial "partials/sub_nav"
    .zmf.linegraph
    %h2 Friedensfinanzierung
    .explanation
      %p Wo setzt die Bundesregierung Prioritäten in der Sicherheitspolitik: bei der militärische Konfliktlösung oder bei der zivilen Konfliktlösung? Diese Visualisierung vergleicht die militärischen Ausgaben der Bundesregierung für UN Peacekeeping Einsätze mit den Investitionen in Programme der zivilen Konfliktlösung im Rahmen der Entwicklungszusammenarbeit.
    .explanation
      %h3 Informationen zu den Daten
      %p Diese Visualisierung nutzt Daten vom UNDPKO (übernommen vom CDI) und des Creditor Reporting System, der Datenbank des OECD Development Assistance Committee (DAC). 
