---
title: Entwicklungsbarometer - Zivile Friedensförderung
navigation:
  - link: "/sicherheit/friedensfoerderung/index.html"
    title: Friedensförderung in der Entwicklungszusammenarbeit
    active: true
  - link: "/sicherheit/friedensfoerderung/friedensfinanzierung.html"
    title: Friedensfinanzierung
---
#sicherheit.indikator.sub-indikator
  = link_to "/sicherheit/index.html" do
    %h1.sicherheit Sicherheit
  #friedensfoerderung
    = partial "partials/sub_nav"
    .zivile.linegraph
    = partial "partials/embed_link", locals: { link: "/sicherheit/embed/friedensfoerderung/index.html" }

    %h2 Friedensförderung in der Entwicklungszusammenarbeit
    .explanation
      %p Kriege und militärische Konflikte gehen einher mit hohen Kosten für die kriegsführenden Parteien aber vor allem auch für Zivilisten in den betroffenen Gebieten. Allein aus Effizienzgründen ist es daher wünschenswert, Konflikte zu lösen, bevor es zu Gewaltausbrüchen und militärischen Auseinandersetzungen kommt. Das diplomatische Engagements Deutschlands für die Beilegung von Konflikten ist quantitativ schwer meßbar. Ein Indikator für die Priorisierung ziviler Konfliktlösung ist jedoch die Finanzierung von Programmen der zivilen Konfliktbewältigung im Rahmen der Entwicklungszusammenarbeit. Diese Visualisierung stellt die Höhe der Ausgaben für zivile Konfliktbewältigung in den vergangenen Jahren dar. 
    .explanation
      %h3 Informationen zu den Daten
      %p Die Daten stammen aus dem Creditor Reporting System, der Datenbank des OECD Development Assistance Committee (DAC). Sie werden jährlich von den OECD Mitgliedsländern aktualisiert.
