---
title: Entwicklungsbarometer - Sicherheit
layout: embed
---
#sicherheit.indikator
  .cdi
    #cdi-index
      .cdi-index-sicherheit.cdi-index-indikator
      .cdi-country-sub-index.fake-sub-index
        %h4.country-sub-label Germany
        .graph
