---
title: Entwicklungsbarometer - Sicherheit
---
%h1 Sicherheit
%p Erklärung
.grid-items
  = link_to '/sicherheit/ruestung.html', class: 'grid-item' do
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
    %h1 Waffenexporte in nicht-demokratische Staaten
  %a.grid-item.grid-item-image{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}/
    %h1 Militärausgaben für UN mandantierte Peacekeeping Einsätze
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}/
    %h1 Transparenz des Waffenexports
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}/
    %h1 Finanzierung von Abrüstung, Rüstungskontrollle und friedlicher Konfliklösung
  %a.grid-item.grid-item-big
    %h1 Diskutieren Sie
#cdi-index
  %h3 CDI Ranking Sicherheit
  .cdi-index-sicherheit
