---
title: Entwicklungsbarometer - Rüstung
---
#ruestung
  %h2 Exporte in nicht-freie Länder
  %p Nach Freedom-Index von ...
  %h3
    Rüstungsexporte 2013 in nicht-freie Länder:
    .gesamt-ruestung
    von
    .gesamt
    Rüstungsexporten
  %h3 Rüstungsexportländer 2013
  .ruestung-2013-chart
    %svg.chart
    %form
      %input(type="radio" name="ruestung-chart" value="2013" checked="checked") 2013
      %input(type="radio" name="ruestung-chart" value="2012") 2012
  .ruestung-2013-table
    #exporte-2013
  .export-2013-table
    %h3 Alle Exporte nach Ländern im Jahr 2013
    #all-exports
  .export-2013-explanation
