---
title: Entwicklungsbarometer - Transparenz
layout: embed
---
#sicherheit.indikator.sub-indikator
  #transparenz
    .saferworld.barchart
    .saferworld-sub
      .barchart
      .description

    %h2 Transparenz des Waffenexports
