---
title: Entwicklungsbarometer - Peacekeeping Personal
---
#sicherheit.indikator.sub-indikator
  = link_to "/sicherheit/index.html" do
    %h1.sicherheit Sicherheit
  #peacekeeping
    .navbar
      %ul.nav
        %li
          = link_to "/sicherheit/peacekeeping/" do
            %h4 Finanzbeiträge UN Peacekeeping
        %li.active
          = link_to "/sicherheit/peacekeeping/personal/" do
            %h4 Personal für UN Peacekeeping in US$
    #personal.linegraph
