---
title: Entwicklungsbarometer - Peacekeeping Personal
nav: personal
---
#sicherheit.indikator.sub-indikator
  = link_to "/sicherheit/index.html" do
    %h1.sicherheit Sicherheit
  #peacekeeping
    = partial "partials/peacekeeping_nav"
    #personal.linegraph
    %h2 Gesamtbeiträge für UN Peacebuilding
    .explanation
      %p Dieser Indikator ist vom CDI übernommen und misst den geschätzten finanziellen Aufwand eines OECD Landes für die Entsendung von Personal in UN Peacebuilding Einsätzen. Vor dem Hintergrund der deutschen Geschichte wird die Beteiligung deutscher Soldaten an militärischen Einsätzen im Ausland kontrovers diskutiert. Es verwundert daher nicht, dass andere OECD Länder im Vergleich zu Deutschland mehr Personal für UN Peacebuilding bereitstellen.
      %p Datenbeschreibung: Die Daten beruhen auf den vom United Nationas Department for Peacekeeping Operations (UNDPKO) bereitgestellten Zahlen zu Personalbereitstellung für UN Peacekeeping Einsätzen. Die geschätzten Kosten bestehen aus den direkten Kosten pro Person pro Monat und indirekten Kosten. Die direkten Kosten werden vom Center for Global Development auf 9000 US $ pro bereitgestellten Blauhelmsoldaten geschätzt. Die indirekten Kosten beziehen sich auf den Aufwand Soldaten auszubilden und ein stehendes Heer für eventuelle Einsätze bereitzustellen. Die indirekten Kosten werden anhand der maximalen Anzahl von Blauhelmen berechnet die seit 1993 für einen UN Peacekeeping Einsatz bereitgestellt wurden. Personalbereitstellung in der Vergangenheit wird im Vergleich zu aktuelleren UN Peacekeeping Einsätzen abgewertet.
