--
--
%header.centered-navigation
  .centered-navigation-wrapper
    %a.mobile-logo{href: "javascript:void(0)"}
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %a.centered-navigation-menu-button{href: ""} MENU
    %ul.centered-navigation-menu
      %li.nav-link
        %a{href: "javascript:void(0)"} Products
      %li.nav-link
        %a{href: "javascript:void(0)"} About Us
      %li.nav-link
        %a{href: "javascript:void(0)"} Contact
      %li.logo
        %a.logo{href: "javascript:void(0)"}
          %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
      %li.nav-link
        %a{href: "javascript:void(0)"} Testimonials
      %li.nav-link.more
        %a{href: "javascript:void(0)"} More
        %ul.submenu
          %li
            %a{href: "javascript:void(0)"} Submenu Item
          %li
            %a{href: "javascript:void(0)"} Another Item
          %li.more
            %a{href: "javascript:void(0)"} Item with submenu
            %ul.submenu
              %li
                %a{href: "javascript:void(0)"} Sub-submenu Item
              %li
                %a{href: "javascript:void(0)"} Another Item
          %li.more
            %a{href: "javascript:void(0)"} Another submenu
            %ul.submenu
              %li
                %a{href: "javascript:void(0)"} Sub-submenu
              %li
                %a{href: "javascript:void(0)"} An Item
      %li
        %a{href: "javascript:void(0)"} Sign up
