--
--
%header.centered-navigation
  .centered-navigation-wrapper
    %a.mobile-logo{href: "javascript:void(0)"}
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %a.centered-navigation-menu-button{href: ""} MENU
    %ul.centered-navigation-menu
      %li.nav-link
        = link_to 'Übersicht', '/index.html'
      %li.nav-link.more
        = link_to 'Indikatoren', '/index.html'
        %ul.submenu
          %li
            = link_to 'Sicherheit', '/sicherheit/index.html'
      %li.nav-link
        %a{href: "javascript:void(0)"} Kontakt
