--
--
%header.centered-navigation
  .centered-navigation-wrapper
    %a.mobile-logo{href: "javascript:void(0)"}
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}/
    %a.centered-navigation-menu-button{href: ""} MENU
    %ul.centered-navigation-menu
      %li.nav-link
        %a{href: "/"} Übersicht
      %li.nav-link
        %a{href: "/sicherheit"} Sicherheit
      %li.nav-link
        %a{href: "javascript:void(0)"} Kontakt
