---
title: Entwicklungsbarometer
---
.hero
  .hero-inner
    %a.hero-logo{href: ""}
    .hero-copy
      %h1 Entwicklungsbarometer
      %h2 Ein Index zum Einluss deutscher Politik auf globale Armtsbekämpfung und Entwicklung

.grid-items
  = link_to '/sicherheit/index.html', class: 'grid-item grid-item-image sicherheit' do
    %h1 Sicherheit
  %a.grid-item.grid-item-image.technologie{href: "javascript:void(0)"}
    %h1 Technologie
  %a.grid-item.grid-item-image.umwelt{href: "javascript:void(0)"}
    %h1 Umwelt
  %a.grid-item.grid-item-image.migration{href: "javascript:void(0)"}
    %h1 Migration
  %a.grid-item.grid-item-image.finanzen{href: "javascript:void(0)"}
    %h1 Investitionspolitik
  %a.grid-item.grid-item-image.zusammenarbeit{href: "javascript:void(0)"}
    %h1 Entwicklungszusammenarbeit
  %a.grid-item.grid-item-image.handel{href: "javascript:void(0)"}
    %h1 Handel
  = partial 'partials/discuss_grid'
.explanation
  = partial 'partials/index-explanaition'
.description
  = partial 'partials/index-description'
#cdi-index
  %h2 Bewertung Deutschlands im Commitment to Development Index im internationalen Vergleich.
  .cdi-index-overall
  %h2 Bewertung einzelner Länder in den sieben Politikfeldern
  .cdi-country-sub-index
    %h4 Germany
    .graph
