---
title: Entwicklungsbarometer
---
.hero
  .hero-inner
    %a.hero-logo{href: ""}
      %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png\r\n"}/
    .hero-copy
      %h1 Short description of Product
      %p A few reasons why this product is worth using, who it's for and why they need it.
    %button Learn More

.grid-items
  %a.grid-item{href: "sicherheit"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
    %h1 Sicherheit
  %a.grid-item.grid-item-big.grid-item-image{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}/
    %h1 Technologie
  %a.grid-item.grid-item-big{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}/
    %h1 Umwelt
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}/
    %h1 Migration
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}/
    %h1 Investitionspolitik
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}/
    %h1 Entwicklungszusammenarbeit
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
    %h1 Handel
#cdi-index
  %h2 CDI Overall Ranking
  .cdi-index-overall
