---
title: Entwicklungsbarometer
---
.hero
  .hero-inner
    %a.hero-logo{href: ""}
    .hero-copy
      %h1 Entwicklungsbarometer
      %p

.grid-items
  = link_to '/sicherheit/index.html', class: 'grid-item' do
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
    %h1 Sicherheit
  %a.grid-item.grid-item-image{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}/
    %h1 Technologie
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}/
    %h1 Umwelt
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}/
    %h1 Migration
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}/
    %h1 Investitionspolitik
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}/
    %h1 Entwicklungszusammenarbeit
  %a.grid-item{href: "javascript:void(0)"}
    %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
    %h1 Handel
  %a.grid-item.grid-item-big{href: "javascript:void(0)"}
    %h1 Diskutieren
    %p Diskutieren Sie mit uns und anderen
.description
  = partial 'partials/index-description'
#cdi-index
  %h2 CDI Overall Ranking
  .cdi-index-overall
  .cdi-country-sub-index
